.bodyContent {
    /* make sure the contents are not under the sidebar */
    margin-left: 16vw; /* Same as the width of the sidebar plus one for padding */
    position: absolute;
    height: 100%;
    width: 75%;
}

.quickStart {
    text-align: center;
}

.bodyContent section {
    border: thin black solid;
}

.bodyContent h3 {
    font-size: 25px;
    padding-right: 20vw;
    padding-top: 5px;
}

.padding {
    justify-items: right;
    margin: 15px;
    font-size: calc(8px + 1vmin);
}